/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: myFontLogoNorse;
  src: url("./assets/fonts/Berserker-Regular.ttf");
}

@font-face {
  font-family: myFontLogoGreek;
  src: url("./assets/fonts/GODOFWAR.TTF");
}

@font-face {
  font-family: myFontRegular;
  src: url("./assets/fonts/GTWalsheimPro-Regular.woff2");
}

@font-face {
  font-family: myFontBold;
  src: url("./assets/fonts/GTWalsheimPro-Bold.woff2");
}

@font-face {
  font-family: myFontMedium;
  src: url("./assets/fonts/GTWalsheimPro-Medium.woff2");
}

@font-face {
  font-family: myFontUltraBold;
  src: url("./assets/fonts/GTWalsheimPro-UltraBold.woff2");
}

@font-face {
  font-family: myFontBlack;
  src: url("./assets/fonts/GTWalsheimPro-Black.woff2");
}

head {
  display: flex;
  align-items: center;
}

body {
  font-family: myFontRegular;
  background-color: rgb(15, 16, 17);
}

@media (max-width: 600px) {
  body {
    min-height: 100dvh;
    min-width: 100dvw;
  }

  #root {
    min-height: 100dvh;
    min-width: 100dvw;
  }
}
